
:root {
  --primary: whitesmoke;
  --border-radius: 0.3rem;

}

body {
  background-image: url(images/clear-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  font-family: 'Mitr', sans-serif;;

}

#header {
  font-family: 'Mitr', sans-serif;
  font-weight: 600;
  margin-top: 0px;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  background-color: #374e87;
  color: var(--primary);
}

.btn {
  font-size: 1.3rem;
  text-decoration: none;
  padding: 6px 5px;
  width: 72%;
  display: block;
  margin: 5px 0;
  border-radius: var(--border-radius);
  color: var(--primary);
  border: none;
  outline: none;
  background-color: #374e87;
  box-shadow: 3px 3px #586ea8;
  transform: translate(-1px, -1px);
}

.btn:hover {
  color: var(--primary);
  background-color: #586ea8;;
  transform: translate(0, 0);
  box-shadow: 2px 2px;
}

#forecast-containers {
  margin-top: 75px;
}

/* uvIndex rating */
.low {
  background-color: green;
  color: var(--primary)
}

.moderate {
  background-color: yellow;
  color: black;
}

.high {
  background-color: red;
  color: var(--primary)
}


/* search history buttons */
button {
  display:inline-block;
  text-decoration: none;
  border: none;
  outline: none;
  padding:0.3em 1.2em;
  background-color: #374e87;
  color: var(--primary);
  text-align:center;
  margin: 2px;
}


/* card styling */
.hide {
  display: none;
}

.card-body {
  background-color: #dce3f5; 
}