
:root {
  --primary: whitesmoke;
  --border-radius: 0.3rem;

}

body {
  min-height: 100vh;
  background-image: url(images/clear-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  font-family: 'Comfortaa', cursive;
}

#header {
  font-family: 'Comfortaa', cursive;
  padding: 15px;
  font-weight: 600;
  margin-top: 0px;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  background-color: #374e87;
  color: var(--primary);
}

.btn {
  font-size: 1.3rem;
  text-decoration: none;
  text-align: center;
  padding: 6px 100px;
  width: 73%;
  display: block;
  margin: 5px 0;
  border-radius: var(--border-radius);
  color: var(--primary);
  border: none;
  outline: none;
  background-color: #374e87;
  box-shadow: 3px 3px #586ea8;
  transform: translate(-1px, -1px);
}

.btn:hover {
  color: var(--primary);
  background-color: #586ea8;;
  transform: translate(0, 0);
  box-shadow: 2px 2px;
}

#forecast-containers {
  margin-top: 75px;
}


/* search history buttons */
button {
  display:flex;
  flex-direction: column;
  text-decoration: none;
  border: none;
  outline: none;
  padding:0.3em 1.2em;
  background-color: #374e87;
  color: var(--primary);
  text-align:center;
  margin: 2px;
  border-radius: 0.3rem;
}


/* card styling */
.hide {
  display: none;
}

.card-body {
  background-color: #c7d3f2; 
}


/* uvIndex rating */
.low {
  background-color: #7df5ad;
  color: black;
  padding-left: 0px;
}

.moderate {
  background-color: #f1f58e;
  color: black;
}

.high {
  background-color: #f58c8c;
  color: black;
}